.sidebar{
    position: absolute;
    left: 0;
    top:0;
    padding: 3% 2%;
    border-right: 1px solid lightgray;
    padding-bottom: 12%;
    height: 100%; 
    width: 13%;
    position: fixed;

    display: flex;
    flex-direction: column;
}


.sidebar-item {
    display: flex;
    align-items: center; /* Vertically aligns the icon and text */
    gap: 0.5rem; /* Space between icon and text */
    margin-bottom: 0.6rem; /* Adds spacing between each item */
}

.sidebar-item i {
    font-size: 1.1rem; /* Adjust icon size if needed */
}

.sidebar-item h2 {
    font-size: 1.1rem; /* Adjust text size if needed */
}

.sidebar-item img{
    width: 100px;
    height: 35px;
}

.more{
   margin-top: 3rem;
}

.sidebar-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use default text color */
  }

.profiles img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.profiles{
    margin-left: -5%;
}
